.icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  margin: 0;
  padding: 0;
  width: fit-content;
  height: fit-content;
}

.icon_label {
  font-size: 20px;
  font-weight: 500;
  color: var(--light-text-color);
  -webkit-text-stroke: 1px #000000;
  paint-order: stroke fill;
  text-shadow: -1px 2px 2px #000000;
}

.react-draggable {
  margin: 0;
  padding: 0;
  width: fit-content;
  height: fit-content;
}

.icon img {
  width: 75px;
  height: auto;
}

.desktop {
  width: 100%;
  height: 100%;
}

.navbar {
  height: 32px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  font-size: 15px;
  color: #000000;
  text-shadow: 0px 1px 3px #00000072;
  background: #fafafa;
  border-bottom: 1px solid #000000;
  box-shadow: 0px 5px 15px #000000;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-right: 20px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-icon {
  height: 32px;
  width: auto;
}
